.button-box {
  cursor: pointer;
  font-size: large;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.button-box:hover {
  background-color: var(--primary-color);
  color: var(--primary-gray)
}

.button-text {
  color: var(--darker-gray);
  font-size: medium;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  transition: all 0.3s ease 0s;
}

.button-text:hover {
  color: var(--primary-color);
  opacity: 90%;
}