.auth-box {
  background-color: var(--primary-gray);
  width: 30rem;
  margin-top: 5rem;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
}



.login-signup-switch{
  display: flex;
  justify-content: space-between;
}

.login-signup-switch a {
  width: 100%;
  height: 5rem;
  font-size: x-large;
  font-weight: 800;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-signup-switch a.primary {
  border-radius: 15px 0px;
}

.login-signup-switch a.secondary {
  border-radius: 0px 15px;
  
}

.login-signup-switch a.active {
  background-color: var(--primary-gray);
  color: var(--primary-color);
}

.login-signup-switch a.inactive.secondary {
  background-color: var(--dark-gray);
  color: var(--darker-gray);
  box-shadow: inset 3px -3px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-signup-switch a.inactive.primary {
  background-color: #d4d4d4;
  color: rgb(136, 136, 136);
  box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* ----------------------------------------------------- */

.form-box {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  
}

.form-box form {
  width: 18rem;
}

.form-image-content {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.form-image {
  width: 7rem;
  height: 7rem;
  background-color: var(--dark-gray);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.form-image input {
  display: none;
}

.form-image-content button {
  color: var(--darker-gray);
  font-size: medium;
  height: 3rem;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0rem 1rem;
  transition: all 0.3s ease 0s;
}

.form-image-content button:hover {
  color: var(--primary-color);
  opacity: 90%;
}

.toggler  {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}



.toggler .message {
  text-align: left;
  margin: 0px 0px 10px 10px;
  font-weight: 500;
  color: var(--darker-gray);
}

.radio-selector {
  /* background-color: var(--primary-color); */
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
  
}



.radio-selector label {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
}

.radio-selector label:first-of-type {
  border-radius: 10px 0 0 10px; /* Apply border radius only to the left side of the first label */
  border-right: none;
}

.radio-selector label:last-of-type {
  border-radius: 0 10px 10px 0; /* Apply border radius only to the right side of the last label */
  border-left: none;
}


.radio-selector input:hover + label {
  background-color: var(--dark-gray);
  color: white;
}

.radio-selector input:checked + label {
  background-color: var(--primary-color);
  color: white;
}

.radio-selector input {
  display: none
}

.signup-login__form-button {
  margin-top: 2rem;
  margin-bottom: 3rem;
}



