.product-card-box {
  background-color: var(--primary-gray);
  width: 8rem;
  height: 13rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: var(--default-transition);
  gap: .5rem
  
}

.product-card-box:hover {
  transform: scale(1.03);
}

.product-card-image {
  background-color:brown;
  height: 7rem;
  width: 100%;
}

.product-card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:.3rem
}

.product-card-info h4 {
  line-height: 1rem;
  font-weight: 600;
  font-size: .8rem;
  color: var(--ash-color);
  text-align: center;
}

.product-card-info h5 {
  font-weight: 600;
  font-size:.6rem;
  color: var(--ash-color);
  
}

.product-card-box button {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-light);
  color: white;
  height: 2rem;
  transition: var(--default-transition);
  cursor: pointer;
  font-size: .7rem;
}

.product-card-box button:hover {
  background-color: var(--primary-color);
  font-size: .75rem;
}

.product-card-box button[disabled] {
  background-color: var(--dark-gray);
}

.product-card-box button[disabled]:hover {
  color: transparent;
  background-color: transparent;
}

