.price-edit-box {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  /* background-color: antiquewhite; */
  gap: 1rem
}

.price-edit-box {

}

.price-edit-input {
  width: 8rem;
}

.price-edit-input .form-input {
  margin-bottom: 0;
}