.idea-card__box {
  background-color: aliceblue;
  min-height: 8rem;
  width: 40rem;
  border-radius: 15px;
  overflow: hidden;
}

.idea-card-title__container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 3rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  gap: 1rem;
}

.idea-card-title-image__container {
  /* background-color: antiquewhite; */
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
}

.idea-card-title-image__box {
  width: 95%;
  height: 95%;
  overflow: hidden;
}

.idea-card-title-image__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.idea-card-content__container {
  padding: 1rem;
}